body{background-color: #F15353}
.heading {background-color: #666666;text-align: center;margin: 0 auto;}
.p {height:30px;line-height: 30px;}
.close i {color: white;}
.logo {box-shadow: 0 2 2 #3a3a3a;}
.logo img {height: 100px;width: 100px;border: solid white 2px;border-radius: 50%;}
.